.movieDiv {
    background: lavenderblush !important;
    border-radius: 15px !important;
    padding: 25px !important;
    padding-left: 40px !important;
    margin: 30px !important;
}

.movieDiv>div>p {
    font-size: 30px !important;
}

